\datasets\coco8
\rough
\runs\detect\train
\runs\detect\train2
\runs\detect\train3
\runs\detect\train32
\runs\detect\train4
\runs\detect\train42
\runs\detect\train5
\runs\detect\train6
\runs\detect\train7
\runs\detect\train8
\runs\detect\train9
\runs\detect\train10
\runs\detect\train11
\runs\detect\train12
\runs\detect\train13
\temp

\displayer.py
\event_support.py
\freshYolov9c.pt
\logprinter.py
\main.py
\object_detection.py
\train_hover.png
\train_press.png
\train_unpress.png
\vision_support.py
\yolov8n.pt
\yolov9c.pt